*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", Courier, monospace;
}

.head {
  padding: 2rem;
  text-align: center;
  --main-color: lightgrey;
  background-image: linear-gradient(grey, var(--main-color));

  font-style: bold700;
}

.jobtitle::after {
  content: "🤓";
}

.head .nav {
  margin-right: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  display: flex;
  flex-direction: column;
}

.article-heading {
  font-size: 1.75rem;
  position: relative;
  left: -1rem;
}

.main {
  padding: 1rem;
  max-width: 60ch;
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background: rgb(96, 128, 233);
  color: rgb(240, 243, 234);
}

html {
  font-family: Oswald;
  font-size: 1rem;
  --main-text-color: black;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .head .nav {
    display: inline-block;
  }

  .experience-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer {
  padding: 0.5rem;
  --main-color: lightgrey;
  background-image: linear-gradient(to bottom, grey, var(--main-color));
  text-align: center;
}
